.featurette{
    padding-top: 3.5rem;
  }
  .featurette-heading{
    margin-bottom: 8px;
    text-align: left;
    font-size: 30px;
  }
  .order-md-2{
      width: calc(50% - 12px);
      height: 100%;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      flex-shrink: 0;
  }
  